/* Start variables */
:root{
    --main-color: #10cab7;
    --section-background-color: #f6f6f6;
    --secondary-color: #2c4755;
}
/* End variables */

/* Start Global Rules */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
} 

html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

/* Small screen */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
/* Medium screen */
@media (min-width : 992px){
    .container{
        width: 970px;
    }
}
/* Large screen */
@media (min-width : 1200px){
    .container{
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    /* letter-spacing: 0px; */
    margin: 34px 0 0;
}

 .special-heading + p {
    margin-top: -30px;
    color: #797979;
    text-align: center;
}
@media (max-width: 767px){
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Component */

/* Start header */


.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.header .links {
    position: relative;
}
.header .links .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
    
}

.header .links .icons span {
    height: 2px;
    background-color: black;
    margin-bottom: 6px;
}

.header .links .icons :first-child {
    width: 100%;
}

.header .links .icons :nth-child(2) {
    width: 60%;
}

.header .links .icons :last-child {
    width: 100%
}

.header .links .icons:hover span {
    transition: 0.3s;
    width: 100%;
}

.logo {
    width: 60px;
    
}

.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background-color: #f6f6f6;
    min-width: 200px;
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 0;
    top: -20px;
}
.header .links:hover ul {
    display: block;
    
}

.header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
}

.header .links ul li a:hover {
    padding-left: 25px;
    transition: 0.3s;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End header */

/* Start Landing Section */
.landing {
    background-image: url("../images/mountain1.webp");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro_text h1 {
    margin: 0;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro_text p {
    line-height: 1.8;
    font-size: 19px;
}
.landing .intro_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    max-width: 100%;
    width: 320px;
}

/* End Landing Section */

/* Start Feature Section */

.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background-color);
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.feature .container .feat {
    text-align: center;
}

.feature .container .feat i {
    font-size: 50px;
    color: var(--main-color);
}

.feature .feat h3 {
    font-weight: 800;
}

.feature .feat p {
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}

/* End Feature section */


/* Start Service section */

.service {
    padding-top: 60px;
    padding-bottom: 60px;
}
.service .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}


.service .col .srv {
    display: flex;
    margin-bottom: 50px;
    
}
.service .col .srv .text h3
{
    margin: 0 0 20px;
}

.service .col .srv .text {
    flex: 1;
}

.service .col .srv .text p {
    line-height: 1.8;
    font-weight: 300;
    color: #444;
}
.service .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 30px;
}

@media (max-width: 767px) {
    .service .col .srv {
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1199px) {
    .img {
      display: none;
    }
}

.service .service-content .col .image {
    position: relative;
    text-align: center;
}

.service .service-content .col .image img {
    width: 260px;
}

.service .service-content .col .image::before {
    position: absolute;
    content: "";
    width: 100px;
    right: 0;
    top: -50px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    z-index: -1;
}

@media (max-width:1199px) {
    .service .service-content .col .image {
        display: none;
    }
}

/* End Service section */


/* Start Portfolio section */

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background-color);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
    overflow: hidden;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0
}

.portfolio .portfolio-content .card .info {
    padding:20px;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.8;
    padding: 5px;
    margin-bottom: 0;
}

/* End Portfolio section */

/* Start about Section */

.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .about-content {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    
}

@media (max-width: 991px){
    .about .about-content {
        flex-direction: column;
        text-align: center;
}
}

.about .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}


@media (max-width: 991px) {
    .about .about-content .image {
        text-align: center;
        margin: 0 auto 60px
    }

}


.about .about-content .image::before {
    position: absolute;
    content: '';
    height: calc( 100% + 80px );
    width: 100px;
    top: -40px;
    left: -30px;
    background-color: #ebeced;
    z-index: -1;
}

.about .about-content .image::after {
    position: absolute;
    content: '';
    height: 80%;
    width: 100px;
    top: -40px;
    right: -140px;
    z-index: -1;
    border-bottom: 80px solid var(--main-color);
    border-left: solid 80px var(--main-color);
}

@media (max-width:991px) {
    .about .about-content .image::after, .about .about-content .image::before {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    padding: 50px 0 0 50px;
    line-height: 2;
    flex-basis: calc( 100% - 400px);
}

@media (max-width: 991px) {
    .about .about-content .text {
        padding: 50px 0;
    }
}

.about .about-content .text p:first-of-type {
    font-weight: 700;

}

.about .about-content .text p:last-of-type {
    font-weight: 300;


}
/* End about Section */

/* Start Contact section */

.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background-color);
}

.contact .info {
    text-align: center;
    margin-top : 100px;
    /* padding-top: 50px; */
}

.contact .info p {
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
    font-size: 30px;
}

.contact .info a {
    font-weight: 800;
    color: var(--main-color);
    font-size: 30px;
    text-decoration: none;
    display: block;
}


@media (max-width: 767px) {
    .contact .info p, .contact .info a {
    font-size: 25px;
}
}


.contact .info .social {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
/* End Contact Section */


/* Start Footer Section */
.footer {
    background-color: var(--secondary-color);
    font-size: 18px;
    text-align: center;
    padding-top: 30px ;
    padding-bottom: 30px;
    color: white;
}

.footer span {
    color: var(--main-color);
    font-weight: 800;
}
/* End Footer Section */